.section-search input {
    padding: 5px !important ;
    font-size: 18px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;
}

.section-follow .fa-3x {
    margin: 1px 10px;
}


  /* input underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #1a237e !important;
    box-shadow: 0 1px 0 0 #1a237e !important;
  }

  /* textarea underline focus color */
  .input-field textarea:focus {
    border-bottom: 1px solid #1a237e !important;
    box-shadow: 0 1px 0 0 #1a237e !important;
  }
 